* text=auto
*.xml text eol=lf
*.MF text eol=lf
*.java text eol=lf
*.xtend text eol=lf
*.bon text eol=lf
*.bddl text eol=lf
*.aes text eol=lf
*.ned text eol=lf
*.jrxml text eol=lf
*.properties text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.dump text eol=lf
*.sql text eol=lf
*.html text eol=lf
*.css text eol=lf
*.dsp text eol=lf
*.zul text eol=lf
*.sh text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.md text eol=lf
*.tex text eol=lf
